dt {
    float: left;
    width: 10%;
    text-align: left;
    padding: .25em;
    clear: left;
}

dd {
    float: left;
    width: 85%;
    padding: .25em 0;
}

dl:after {
    content:"";
    display:table;
    clear:both;
}
